[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
ta-lib = "*"

[dev-packages]
pyright = "*"
typing-extensions = "*"
yapf = "*"
toml = "*"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.10"

[scripts]
fmt = "yapf --style pyproject.toml -ir ."
fmtcheck = "yapf --style pyproject.toml -r --diff ."
